---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Montserrat', sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:    40px; //2rem

$text-color:       #212121;
$background-color: #fdfdfd; //#0F0F0F
$brand-color:      #EE8C25;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$small:            600px;
$medium:           800px;
$large:            980px;



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "flexboxgrid",
        "typography",
        "site-header",
        "site-footer",
        "page-content",
        "syntax-highlighting",
        "home",
        "gallery",
        "live",
        "music"
;
