---
layout: default
videos:
  - title:
  - link: https://www.youtube.com/embed/1e8VURCqsbg
---

<section class="video-list">
  <div class="iframe-container">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/dQoZWXt_XR8" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="iframe-container">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/No2fE-Rx7hk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="iframe-container">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/4ns5xbJyW6o" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="iframe-container">
    <iframe width="100%" height="425" src="https://www.youtube.com/embed/1e8VURCqsbg" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="iframe-container">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/C5JB-y6hWLY" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="iframe-container">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/1tsVcQ-skmA" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="music-list">
  <div class="iframe-container spotify">
    <iframe scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media" src="https://open.spotify.com/embed/track/73WIW0fTbsAafAp7XUqPxl"></iframe>
  </div>
  <div class="iframe-container spotify">
    <iframe scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media" src="https://open.spotify.com/embed/track/5q1D91dA69aqQKx9WTCDP5"></iframe>
  </div>
</section>

<section class="itunes-list">
  <div class="itunes-list__item">
    <a href="https://music.apple.com/be/album/out-of-control-single/1027114740" target="_blank">
      <img src="images/out-of-control-single.png" alt="cover of out of control single">
      <div class="itunes-list__cta">
        {% include icon-apple_music-get-it.html %}
      </div>
      </a>
    </div>
    <div class="itunes-list__item">
      <a href="https://music.apple.com/be/album/tomorrow-single/1080402803" target="_blank">
        <img src="images/tomorrow-single.png" alt="cover of out of control single">
        <div class="itunes-list__cta">
          {% include icon-apple_music-get-it.html %}
        </div>
      </a>
    </div>
</section>
