<footer class="site-footer">

    <div class="wrapper">

      <ul class="social-media-list">
        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
        {% if site.youtube_username %}
        <li>
          {% include icon-youtube.html username=site.youtube_username %}
        </li>
        {% endif %}
        {% if site.soundcloud_username %}
        <li>
          {% include icon-soundcloud.html username=site.soundcloud_username %}
        </li>
        <li>
          {% include icon-facebook.html username=site.facebook_username %}
        </li>
        <li>
          {% include icon-email.html username=site.email %}
        </li>
        {% endif %}
      </ul>

    </div>

</footer>
