<header id="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <a class="site-title" href="{{ site.baseurl }}/">
        <svg class="logo" width="154px" height="29px" viewBox="0 0 308 58">
          <g>
          	<polygon points="0,10 0,58 22,58 22,28 26,28 26,58 46,58 46,28 50,28 50,58 74,58 74,10 	"/>
          	<path d="M156,10v48h22v-8h28v8h24V10H156z M178,32v-4h28v4H178z"/>
          	<path d="M284,0v10h-50v48h49.037H308V0H284z M284,32h-28v-4h28V32z"/>
          	<path d="M78,10v48h74V10H78z M128,32h-28v-4h28V32z"/>
          </g>
        </svg>
      </a>

      <ul class="nav">
        <li class="nav__item"><a href="{{ site.baseurl }}/music">Music</a></li>
        <li class="nav__item"><a href="{{ site.baseurl }}/photo-gallery">Gallery</a></li>
        <li class="nav__item"><a href="{{ site.baseurl }}/live">Live</a></li>
        <li class="nav__item"><a href="{{ site.baseurl }}/about">About</a></li>
      </ul>
    </nav>

  </div>

</header>
