.gallery {

  .photo-gallery {
    padding: 0 1rem;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-around;
    @include media-query($small) {
      flex-direction: column;
    }
  }

  .photo-gallery__item {
    flex: auto;
    width: calc(33.3333% - 2rem);
    border: 2px solid $background-color;
    img {
      width: 100%;
      // review this. Do I need to specify height?
    }
    @include media-query($medium) {
      width: calc(50% - 2rem);
    };
    @include media-query($small) {
      width: 100%;
    }
  }

}
