.main-header {
  display:flex;
  height: 80vh;
  background: #ffa949 url('../images/bg.jpg') no-repeat center;
  background-size: cover;
  align-items: center;
  justify-content: center;

  @include media-query($small) {
    height:70vh;
  }
}

.album-cover {
  align-items: center;
}
