.main-header {
  display:flex;
  height: 1100px;
  background: #ffa949 url('../images/bg.jpg') no-repeat center;
  background-size: cover;
  align-items: center;
  justify-content: center;

}

.album-cover {
  align-items: center;
}
