// for making the iframe responsive

.iframe-container {
  position: relative;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: $spacing-unit;
  @include media-query ($small){
    margin-bottom: $spacing-unit/2;
  }
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// Youtube

.youtube-list {
 display: flex;
 flex-direction: column;
}

.iframe-container.youtube {
  padding-bottom: 56.25%;
}

.iframe-container.youtube iframe,
.iframe-container.youtube object,
.iframe-container.youtube embed {
  height: 100%;
}

// Spotify

/**
.spotify-list {
  display: flex;
  flex-direction: row;
}

.spotify-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(50%-3rem);
}

.iframe-container.spotify{
  padding-bottom: 50px;
}

.iframe-container.spotify iframe,
.iframe-container.spotify object,
.iframe-container.spotify embed {
  height: 344px;
}
*/


// Apple Music

.applemusic-list {
  display: flex;
  flex-direction: row;
/**
  align-items: stretch;
  a:first-of-type {
    margin-right: 0; // previous value: 1rem
  }
*/
}

.applemusic-list__item {
  display: flex; //nötig ??
  margin-left: auto; // => center item
  margin-right: auto; // => center item
  // flex-direction: row;
  justify-content: space-between;
  // width: calc(50%-3rem);
  > a {
    display: block;
    :hover img {
      transform: scale(1.1);
    }
  }
  .applemusic-list__cta {
    margin-top: $spacing-unit/2;
  }
}
