// -------------------------------------
// page-content
// -------------------------------------

.page-content {
    flex: 1;
    @include media-query($small) {
      padding: $spacing-unit/2 0;
    }
}
