// -------------------------------------
// site-header
// -------------------------------------

#site-header {
  padding: 1rem 0; //16px;
  font-family: $base-font-family;
  text-transform: uppercase;
  min-height: 3.5rem; //56px
  border-bottom: 1px solid #e8e8e8;
  background-color: $background-color;
  a:first-of-type {
    text-decoration: none;
  }

  @include media-query($small) {
    display: flex;
  }

}

.site-nav {
  display: flex;
  justify-content: space-between;

  @include media-query($small) {
    flex-direction: column;
    margin: 0 auto;
  }

.site-title {
    font-size: 1.2rem; //19,2px
    font-weight: 400;
    line-height: 3.5rem; //56px
    align-self: center;
    .logo {
      fill: black;
    }
  }

.nav {
    margin-left: 0;
    margin-bottom: 0;
    align-self: center;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;

    @include media-query($small) {
      margin-bottom: 0;
    }

    .nav__item {
      display: inline-block;
      padding: 0 10px;
      font-weight: 700;

      a {
        text-decoration: none;

        &:hover {
        text-decoration: underline;
        }

      }

    }

  }

}
