// ******************************** /
// Page: home
// ******************************** /

.main-header {
  align-items: center;
  background: $home-bg-color url('../images/bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  height: 80vh;
  justify-content: center;

  @include media-query($small-min, $small-max) {
    height: 70vh;
  }
}

.album-cover {
  align-items: center;
}
