// ******************************** /
// Page: live
// ******************************** /

// .live-list {
//   margin: 3rem 0;
// }
//
// .live-list__item {
//   padding: 1rem 0 ;
//   border-bottom: 1px dashed $grey-color;
//   display: flex;
//   align-items: center;
//
//   .live-date {
//     text-transform: uppercase;
//   }
//
//   .live-title {
//   }
//
//   .live-link {
//   }
//
// }

.gigs-info {
  > figure {
    margin-bottom: $spacing-unit/2;
  }
  a:hover {
    color: $brand-color;
  }
}



// .btn-primary {
//   background-color: $brand-color;
//   color:white;
//   :hover {
//     background-color: darken($brand-color, 25%);
//     color:white;
//   }
// }
