// ******************************** /
// Gallery
// ******************************** /

.gallery {
  .photo-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 1rem;
    @include media-query($small-min, $small-max) {
      flex-direction: column;
    }
  }

  .photo-gallery__item {
    border: 2px solid $background-color;
    flex: auto;
    width: calc(33.3333% - 2rem);

    img {
      height: 100%;
      width: 100%;
      // review this. Do I need to specify height?
    }
    @include media-query($medium-min, $medium-max) {
      width: calc(50% - 2rem);
    };
    @include media-query($small-min, $small-max) {
      width: 100%;
    }
  }

}
