// ******************************** /
// site-footer
// ******************************** /

.site-footer {
  background-color: $background-color;
  border-top: 1px solid $grey-color-light;
  font-family: $base-font-family;
  margin: 0;
  min-height: 2rem; //56px
  padding: 1rem 0; //16px
  text-transform: lowercase;

  ul {
    align-items: center;
    color: $text-color;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  li:first-of-type {
    text-decoration: lowercase;
  }

  li {
    align-items: center;
    display: inline-block;
    font-size: 0.9rem; //14.4px
    margin-right: 1rem;
    padding: 1rem 0;

    svg {
      fill: $grey-color-dark;
    }
  }

  @include media-query($small-min, $small-max) {
    ul {
      align-items: center;
      flex-direction: column;
    }

    li {
      padding: 1rem 0;
    }
  }

}
