// ******************************** /
// site-header
// ******************************** /

#site-header {
  background-color: $background-color;
  border-bottom: 1px solid $grey-color-light;
  font-family: $base-font-family;
  min-height: 3.5rem; //70px
  padding: 1rem 0; //20px;
  text-transform: uppercase;

  a:first-of-type {
    text-decoration: none;
  }

  @include media-query($small-min, $small-max) {
    display: flex;
  }

}

.site-nav {
  display: flex;
  justify-content: space-between;

  @include media-query($small-min, $small-max) {
    flex-direction: column;
    margin: 0 auto;
  }

  .site-title {
    align-self: center;
    font-size: 1.2rem; //24px
    font-weight: 400;
    line-height: 3.5rem; //56px

    .logo {
      fill: $logo-color;
    }
  }

  .nav {
    align-self: center;
    display: flex;
    font-size: 0.9rem;
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: 0;
    @include media-query($small-min, $small-max) {
      margin-bottom: 0;
    }

    .nav__item {
      display: inline-block;
      font-weight: 700;
      padding: 0 10px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

      }

    }

  }

}
